{
    "apiPort"  : 4000,
    "logLevel" : "debug",
    "apiSecret" : "s3cr3t",
    "sessionSecret" : "s3cret",

    "checkpointGroup" : "ocwa-checkpoint",

    "projectsc" : { 
        "host" : "", 
        "token" : "" 
    },

    "github": { 
        "token" : "" 
    },

    "git_user": { 
        "username" : "", 
        "email" : "" 
    }

    "keycloak": {
        "url": "",
        "realm": "",
        "client_id": "",
        "client_secret": ""
    },

    "ocwa": {
        "ignoredGroups": "/sre-users,/exporterstg,/exporter,/oc,/reports"
        "projectWhitelist": ""
    }

}